
*{
    font-family: 'Noto Sans TC', sans-serif;
}
body {
    background-color: #001150;
    height: 2000px;
    margin: 0;
    /* box-sizing: border-box; */
    /* padding: 0; */
}

.header {
    background-color: #1c2774;
    height: 85px;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    overflow: auto;
    position: fixed;
    z-index:999;
    box-sizing: border-box;
    /* fixed讓他固定在視窗上的位置不被捲動 */
}

.logo {
    float: left;
    margin: 6px 15px;
}

.text {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    float: right;
    font-size: 16px;
    padding: 20px;
    font-weight: bold;
    box-sizing: border-box;
    transition: .2s;
}

.nav-name {
    height: 24px;
    padding: 8px;
}

.nav-text {
    width: 64px;
    padding: 8px;
    
}
.nav-text:hover{
    color: rgb(196, 196, 196);
}
.nav-name:hover{
    color: rgb(196, 196, 196);
}

.pic-banner {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pic-banner img {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.about {
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: center;
    height: 80px;
    background-color: #242f7f;
    font-weight: bold;
    box-sizing: border-box;
    padding: 25px;
    margin: -5px 0 0;
}

.section1 {
    height: auto;
    width: 960px;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 95%;
    overflow: auto;
}

.wrap-text {
    color: white;
    width: auto;
    word-break: break-all;
    margin: 0 auto;
}

h2 {
    margin: 0 0 50px;
    font-size: 24px;
    font-weight: 500;
}

.text1 {
    margin: 0 0 16px;
    font-size: 18px;
    text-align: left;
    font-weight: 300;
}

.border1 {
    border-bottom: 2px solid #ff9d3a;
    margin: 100px 0 50px;
}

.orange-font {
    color: #ff9d3a;
    background-color: #001150;
    text-align: center;
    /* width: 370px; */
    font-size: 20px;
    margin: 10px;
}

.f1 {
    margin: -65px auto 50px;
    width: 370px;
    font-weight: 500;
}

.wrap-card {
    width: 100%;
    margin: 0 center;
    overflow: auto;
}

.card {
    float: left;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 10px;
}

span {
    font-size: 22px;
    /* position: absolute; */
    text-align: center;
}

.text-c1,
.text-c2,
.text-c3 {
    position: absolute;
    margin: 30% 0 0 -45px;
    font-size: 22px;
    font-weight: bold;
}
.text-c1{
    color: #0b72ac;
}
.text-c2{
    color: #bd4a2f;
}
.text-c3{
    color: #62288e;
}
.card .orange-font{
    margin: 0 0 16px;
}
.circle img {
    width: 250px;
    height: 250px;
}


.content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    width: 65%;
    /* max-width: 200px; */
    color: white;
    width: auto;
    word-break: break-all;
    margin: 0 15%;
    text-align: left;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
}

.lecture {
    float: left;
    width: 30%;
    margin: 0 1.5%;
    padding: 0 30px;
    box-sizing: border-box;
}

.lecture img {
    width: 100%;
    vertical-align: middle;
}
.lecture .orange-font{
    font-size: 22px;
}

p {
    /* font-size: 20px; */
    color: white;
    line-height: 30px;
    font-weight: 600;
    margin: 20px auto;
    /* text-align: center; */
}
.lecture p{
    text-align: center;
    font-size: 20px;
}

span.orange-font {
    font-size: 22px;
    font-weight: bold;
}

.section2 {
    padding: 70px 0;
    box-sizing: border-box;
    overflow: auto;
}

.lec {
    border: 1px solid white;
    padding: 30px;
    margin: 10px 0;
    text-align: justify;
    font-weight: normal;
    min-height: 600px;
    box-sizing: border-box;
}

.section3 {
    width: 100%;
    padding: 100px 20px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.grad {
    font-size: 20px;
    font-weight: bold;
    background: url(./link/bar-bg.png) top center;
    height: 50px;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}
.section3 .orange-font{
    font-weight: bold;
    margin: 10px;
}

table {
    width: 100%;
    clear: both;
    margin: 70px 0 100px;
}

table td:first-child {
    width: 25%;
}

table td:first-child span {
    width: 170px;
    font-size: 18px;
    font-weight: bold;
    color: #001150;
    background: #eee;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0;
    display: block;
    z-index: 2;
}

td {
    vertical-align: top;
    font-size: 18px;
    color: white;
    
    border-bottom: 1px solid #989898;
    height: 98px;
    box-sizing: border-box;
}
table td:last-child{
    padding: 10px 0 30px;
}

table td:last-child span {
    height: 32px;
    color: #ff9d3a;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    display: block;
    line-height: 25px;
}
table tr td .lines2{
    height: 55px;
}
.schedule-pm table td:last-child span{
    margin-left: -10px;
}
.headline{
    border-top: 1px solid #eee;
}


.section4, .section5, .section6{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav2 {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* overflow: auto; */
    /* position: relative; */
}

.nav-item {
    width: 15%;
    height: 80px;
    margin: 60px 40px 0;
    float: left;
    color: white;
    background-color: #4f64b1;
    padding: 8px 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    transition: .2s;
}
.nav-item.line1{
    line-height: 60px;
}
.nav-item:hover{
background-color: #95589e;
}
.bold{
    margin: 0;
}
.schedule-pm table td:last-child .slash{
    display: inline;
    margin: 0 10px;
}
.schedule-pm table td:last-child .gray{
    height: 47px;
    color: #001150;
    background-color: #ccc;
    padding: 10px 20px;
    margin-top: -10px;
    margin-left: -117px;
    z-index: -1;
    text-align: center;
    display: block;
}
.section5 img{
    width: 100%;
    margin: 50px 0;
}
.section6{
    padding-bottom: 95px;
}
.section6 iframe{
    width: 100%;
    margin: 70px 0 25px;
}
.section6 p{
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 16px 50px;
}
.section6 .address{
    margin: 0 auto 16px;
    font-weight: 500;
    font-size: 20px;
}
.section6 .transport{
    margin: 0 0 0 50px;
    height: 36px;
    /* padding-bottom: 10px;z */
    /* position: relative; */
}
.section6 img{
    float: left;
}
.footer{
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color:#2e3989;
}
.brand{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15px 40px;
}
/* .container img, .container span{
    display: inline;
} */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer span{
    color: white;
    font-size: 18px;
    margin-right: 20px;
}
.footer .text-footer{
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
    padding: 0 20px;
    line-height: 1.5;
}